*{
    margin: 0%;
    padding:0%;
}

#nav{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(150deg,red,white,red,black);
    padding:8px;
    margin-bottom: 20px;
    align-items: center;
    text-decoration: none;
}

#navBut{
    display: flex;
    gap:25px;
}
.butNav{
    font-weight: bold;
    font-size: 17px;
    padding:2px 4px;
    background: none;
    border: none;
}

.butNav:hover{
    font-size: 16px;
    background-color: black;
    color: white;
    border-radius: 12px;
    padding:4px;
    cursor: pointer;
}